name: Post merge, deploy Docker build, ECR push, template copy to S3
on:
  push:
    branches:
      - main
jobs:
  development:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        include:
          - environment: DEV
          - environment: BUILD
    name: ${{ matrix.environment }} docker build and push
    env:
      AWS_REGION: eu-west-2
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Login to GDS Dev Dynatrace Container Registry
        uses: docker/login-action@v3
        with:
          registry: khw46367.live.dynatrace.com
          username: khw46367
          password: ${{ secrets.DYNATRACE_PAAS_TOKEN }}

      - name: "Push signed image to ECR, updated SAM template with image then upload it to the S3 Artifact Bucket"
        uses: alphagov/di-devplatform-upload-action-ecr@1.0.3
        with:
          artifact-bucket-name: ${{ secrets[format('{0}_{1}', matrix.environment, 'ARTIFACT_BUCKET')] }}
          container-sign-kms-key-arn: ${{ secrets[format('{0}_{1}', matrix.environment, 'CONTAINER_SIGN_KMS_KEY')] }}
          working-directory: .
          template-file: deploy/template.yaml
          role-to-assume-arn: ${{ secrets[format('{0}_{1}', matrix.environment, 'GH_ACTIONS_ROLE_ARN')] }}
          ecr-repo-name: ${{ secrets[format('{0}_{1}', matrix.environment, 'ECR_REPOSITORY')] }}
